<!--<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
-->
<div class="row">
  <div class="col-sm-4">
    <h5><%= @user.email %></h5>
  </div> <!-- col-sm-4 -->
</div><!-- row -->

<div class="row">
  <div class="col-sm-4">
    <%= link_to '<span class="glyphicon glyphicon-plus"></span>Friend'.html_safe, friendships_path(@user), :class => "btn btn-success btn-sm", :method => :post %>
  </div> <!-- col-sm-4 -->
</div> <!-- row -->
