<li class="media">
  <div class="media-left">
    <%= image_tag 'http://placehold.it/60x60', :class => "media-object" %>
  </div>
  <div class="media-body">
    <h5><%= event.user.email %></h5>
    <p>liked a post</p>
  </div>
</li>
