<p id="notice"><%= notice %></p>

<h1>Listing Albums</h1>
<%= @albums.in_groups_of(4, false) do |albums| %>
  <div class="row">
    <% albums.each do |album| %>
      <div class="col-sm-3">
	<%= link_to album.title, user_album_path(@user, album) %>
      </div>
    <% end %>
  </div>
<% end %>

<br>

<%= link_to 'New Album', new_user_album_path %>
