<div class="row">
  <div class="col-sm-12">
    <% if user_signed_in? and current_user.id == @user.id %>
      <%= link_to 'Add Pictures', new_user_picture_path, :class => 'btn btn-default' %>
    <% end %>
  </div>
</div> <!-- row -->

<% @pictures.in_groups_of(6, false) do |pictures| %>
  <div class="row image-thumb-row">
    <% pictures.each do |picture| %>
      <div class="col-sm-2">
	<a href="<%= user_picture_path(@user, picture) %>"><img src="<%= picture.location %>" class="img-responsive" ></a>
      </div>
    <% end %>
  </div>
<% end %>

