<div class="row">
  <div class="col-sm-12">
    <%= link_to 'Add Pictures', new_user_picture_path, :class => 'btn btn-default' %>
  </div>
</div> <!-- row -->

<div class="row">
  <% @pictures.each do |picture| %>
    <div class="col-sm-2">
      <img src="<%= picture.location %>" class="img-responsive picture-thumb">
    </div>
  <% end %>
</div>
