<div class="row">
  <div class="col-sm-12">
    <%= link_to 'Add Pictures', new_user_picture_path, :class => 'btn btn-default' %>
  </div>
</div> <!-- row -->

<div class="row">
  <% @pictures.each do |picture| %>
    <div class="col-sm-2">
      <a href="<%= user_picture_path(@user, picture) %>"><img src="<%= picture.location %>" class="img-responsive" ></a>
    </div>
  <% end %>
</div>
