<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <textarea name="body" class="form-control" rows="3">What are you up to?</textarea>

  <div class="actions">
    <button class="btn btn-default post-submit" type="submit">Post</button>
    <!--<%= f.submit %> -->
  </div>
<% end %>
