<!--<p id="notice"><%= notice %></p>-->

<div class="row">
  <div class="col-sm-3">
    <h4>News Feed</h4>
  </div> <!-- col-sm-3-->
  <div class="col-sm-2">
    
  </div> <!-- col-sm-2 -->
  <div class="col-sm-7">
    <%= render 'form' %>
  </div> <!-- col-sm-7 -->
</div> <!-- row -->

<% @posts.each do |post| %>
  <div class="row main-body-row">
    <div class="col-sm-3"></div>
    <div class="col-sm-2">
      <%= image_tag 'http://placehold.it/60x60' %>
    </div> <!-- col-sm-2 -->
    <div class="col-sm-7">
      <p>
	<%= post.body %>
      </p>
    </div> <!-- col-sm-7 -->
  </div> <!-- row -->
<% end %>

