/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.atwho
 *= require_tree .
 *= require_self
 */

body {
    background-color: #4099FF;
}

.main-header-row {
    margin-top: 80px;
}

.main-header-div {
    background-color: #CCC;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 100px;
    position: relative;
}

.top-body-div {
    background-color: #FFF;
    padding-top: 35px;
    padding-bottom: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.main-profile-img {
    top: 30px;
    z-index: 20;
    position: absolute;
    height: 100px;
    max-width: 100px;
    overflow: visible;
}

.field_with_errors {
    display: inline;
}

.field_with_errors label {
    //all: unset;
}

.main-login-form {
    margin-top: 0;
    margin-bottom: 0;
}

.post-submit {
    margin-top: 5px;
}

.main-body-row {
    margin-top: 5px;
    padding-bottom: 5px;
}

.inner-body-div {
    
}

.notification-span {
    margin-top: 8px;
    margin-bottom: 8px;
}

form.notification-approval-form {
    display: inline-block;
}

.post-time-ago {
    margin-top: 0;
}

.post-name-heading {
    margin-top: 0;
    margin-bottom: 0;
}

.image-thumb-row {
    margin-top: 10px;
}

.picture-likes {
    margin-top: 10px;
}
