<div class="row">
  <div class="col-sm-12">
    <div class="jumbotron">
      <h1>Hi, there!</h1>
      <p>This site is free but you must be a member and sign in before you can see all the cool stuff we have going on.</p>
      <p>
	<%= link_to 'Sign up', new_user_registration_path, :class => 'btn btn-primary btn-lg' %>
      </p>
    </div>
  </div> <!-- col-sm-12 -->
</div> <!-- row -->
